.customerreveiws{ 
background-image:url( "https://www.canva.com/design/DAG5sozCAYI/oaEsgxbCOUj_w4FwGGO6cQ/edit?utm_content=DAG5sozCAYI&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton");
  height:300px;
  padding:40px;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
}
