
.customerreviews {
  width: 100%;
  height: 300px; 
  background-image: url("https://ibb.co/8nwVXBd8");
  background-size:cover;
  background-position:center;
  position: relative; 
  border-radius: 10px;
}


.customerreveiws {
  position: absolute;
  bottom: 20px;   
  left: 150px;
  color:#221E04; 
  font-family:tohma;
  max-width: 100%;
}
.content h2,
.content p {
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}
.customerreviews {
  width: 100%;
  height: 100;
  background-image: url("https://ibb.co/8nwVXBd8");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  position: relative;
  display:flex;
}
img{height:1000px;
width:300%;
object-fit: cover;
filter:brightness(0.8);}

*{margrin:0;
padding:0;
Box-sizing:border-box;
  Font-family: tahoma;}

body{
  background:#e8c4c6;
  color:#806B63;
  padding-top:65px;
  text-align: center;
}
