.customerreviews {
  width: 100%;
  height: 300px; 
  background-image: url("https://ibb.co/8nwVXBd8");
  background-size:cover;
  background-position:center;
  position: relative; 
  border-radius: 10px;
}
.customerreveiws {
  position: absolute;
  bottom: 20px;   
  left: 150px;
  color:#221E04; 
  font-family:tohma;
  max-width: 100%;
}
.content h2,
.content p {
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
   
}
.customerreviews {
  width: 100%;
  height: 100;
  background-image: url("https://ibb.co/8nwVXBd8");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  position: relative;
  display:flex;
}
img{height:1000px;
width:300%;
object-fit: cover;
filter:brightness(0.8);}

*{margrin:0;
padding:0;
Box-sizing:border-box;
  Font-family: tahoma;}

body{
  background:#FFFFF;
  color:#806B63;
  padding-top:65px;
  text-align: center;
  line-height: 1.7;
}
#loyaltycard{
  display: block;
  margin: 40px auto;
  width: 150%;
  border-radius: 10px;}

.footer {
  background-color: #E8C4C6;
  color:#806B63;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  width:1900px;
}

.intro {
  width: 80%;
  margin: 60px auto;
}
.intro p {
  font-size: 20px;
  font-weight: 400;
  color: #806B63;
}

.signature {
  font-size: 18px;
  font-style: italic;
  color: #806B63;
} 
